<div class="command-input">

    <span class="machine-name">{{commandRecord.machineName}}</span>
    <span class="directory">{{commandRecord.directoryName}}</span>
    <span class="user-name">{{commandRecord.userName}}</span>
    <span class="split-code">$</span>

  {{#if text}}
      <span class="commands text">{{commandRecord.commandInput}}</span>
  {{else}}
    {{input class="commands" type="text" key-up=(action 'commandInput') }}
  {{/if}}
</div>

{{yield}}
